<div class="item_club">
  <div class="join-cancel-toggle-container">
    <%= render "user_clubs/join_cancel_toggle" %>
  </div>
  <div id="leave-club-bt">
    <% if current_user.user_clubs.of_club(@club).present? && current_user.user_clubs.of_club(@club).joined? %>
      <div class="btn btn-control more">
        <button type="button" class="btn btn-breez btn-leave btn-sm"><%= t("joined") %>
        </button>
        <ul class="more-dropdown more-with-triangle triangle-bottom-right">
          <li>
            <%= link_to user_club_path(id: @club.slug), remote: true, method: :delete,
              data: {confirm: t("answer_leave")} do %>
              <%= t("leave_club") %>
              <i class="fa fa-share-square-o" aria-hidden="true"></i>
            <% end %>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</div>
