<div class="form-group col-md-12 expense_details" id="expense_details">
  <% @event.event_details.build %>
  <div class="row" id="add_field_detail">
    <label class="col-md-3 label-detail control-label label-bold"><%= t(".detail_event") %></label>
    <%= link_to_add_association f, :event_details,
      partial: "event_details/event_detail_fields", class: "btn btn-breez btn-sm button-add-detail col-md-1" do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <%= f.fields_for :event_details do |detail| %>
    <div class="nested-fields full-width">
      <div class="row">
        <%= render partial: "event_details/event_detail_field_default", locals: {f: detail} %>
      </div>
    </div>
  <% end %>
</div>
