<div class="nested-fields full-width">
  <div class="row">
    <%= render partial: "event_details/event_detail_field_default", locals: {f: f} %>
    <div class="col-md-1">
      <%= link_to_remove_association button_tag('-', type: "button", class: "btn btn-primary field-btn"), f %>
    </div>
  </div>
</div>
