<% if @hash_other_albums.present? %>
  <div class="tab-pad">
    <div class="orther-album text-center">
      <h3 class="title"><%= t "albums_club.other_album" %></h3>
    </div>
    <div id="page-container" class="js-list-albums">
      <%= render partial: "albums/albums", locals: {hash_albums:
        @hash_other_albums, albums: @other_albums} %>
    </div>
    <div class="edit-album-club"></div>
  </div>
<% end %>
