<div class="modal-dialog modal-lg">
  <div class="modal-content" id="js-check-modal-users">
    <div class="modal-header" id="js-header-users">
      <%= render "header_modal" %>
    </div>
    <div class="modal-body" id="js-modal-body-users">
      <%= render "list_users_body" %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal"><%= t ".close" %></button>
    </div>
  </div>
</div>
