<div class="ui-block">
  <div>
    <div class="timeline" id="list-events">
      <%= render partial: "item_event", collection: events, as: :event %>
    </div>
  </div>
  <div class="text-center">
    <% unless events.current_page == events.total_pages %>
      <%= link_to organization_events_path(page: events.next_page, id: @organization.slug),
        remote: true, id: "load-event-organization", class: "hide-div" do %>
        <span>
          <%= t("more") %>
        </span>
      <% end %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "next_page_time_line" %>
