<div class="ui-block">
  <div>
    <div class="timeline" id="list-events">
      <%= render partial: "item_event", collection: events, as: :event %>
    </div>
  </div>
  <div class="text-center">
    <% unless events.current_page == events.total_pages %>
      <%= hidden_field_tag :next_page_time_line, events.next_page %>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "next_page_time_line" %>
